{
  "presets": [ "es2015", "stage-0", "react"],
  "env": {
    "build": {
      "optional": ["optimisation", "minification"]
    }
  },
  "plugins": [
    ["react-hot-loader/babel"],
    ["import", {"libraryName": "antd", "style": "css"}]
  ],
  "sourceMaps": true
}
