{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-0",
    "react"
  ],
  "env": {
    "production": {
      "optional": ["optimisation", "minification"]
    },
    "development": {
      "plugins": [["react-transform", {
        "transforms": [{
          "transform": "react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }]
      }]]
    }
  },
  "plugins": [
    ["transform-runtime"],
    ["import", {"libraryName": "antd", "style": true}]
  ],
  "sourceMaps": true
}
