{
  "presets": [ "es2015", "stage-0", "react"],
  "env": {
    "build": {
      "optional": ["optimisation", "minification"]
    },
    "development": {
      "plugins": [["react-transform", {
        "transforms": [{
          "transform": "react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }]
      }]]
    }
  },
  "plugins": [
    ["transform-runtime"],
    ["import", {"libraryName": "antd", "style": "css"}]
  ],
  "sourceMaps": true
}
