@import "./variables.less";

.office-overflow() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// 单行显示省略号
.office-single-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// more ellipsis
.office-more-ellipsis(@line: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical; // 参考 https://github.com/postcss/autoprefixer/issues/776
  -webkit-line-clamp: @line;  //这里是在第三行有省略号
  overflow: hidden;
}

// 混合img样式
.office-img-style(@width: 44px, @height: 44px,@color: @office-gray) {
  object-fit: cover;
  width: @width;
  height: @height;
  background-color: @color;
}

// placeholder color
.office-placeholder-color(@color: #999) {
  /* WebKit browsers */
  &::-webkit-input-placeholder{
    color: @color;
  }
  /* Mozilla Firefox 4 to 18 */
  &:-moz-placeholder {
    color: @color;
  }
  /* Mozilla Firefox 19+ */
  &::-moz-placeholder {
    color: @color;
  }
  /* Internet Explorer 10+ */
  &:-ms-input-placeholder {
    color: @color;
  }
}

// 阴影
.office-header-shadow() {
  box-shadow:0 1px 4px 0 rgba(0,0,0,.1);
}

// 清除浮动影响
.clear-after() {
  &:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

// 清除margin越界
.clear-before() {
  &:before {
    content: '';
    display: table;
  }
}

// 混合背景渐变
.office-background(@deg: 108deg, @start: @office-start-linear, @end: @office-end-linear) {
  background: -webkit-linear-gradient(@deg, @start, @end);
  background: -o-linear-gradient(@deg, @start, @end);
  background: -ms-linear-gradient(@deg, @start, @end);
  background: linear-gradient(@deg, @start, @end);
}

// 默认背景
.office-shadow() {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
}

// 测试
.test(@color: @office-error) {
  border: 1px solid @color;
}
